<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
	<link rel="stylesheet" href="./assets/css/master.css">
</head>
<body>
	
	<div id="root">
		
		<div class="container">
			<h1>i miei todo</h1>
			<ul class="todo">
				<li v-for="todo in orderedlistTodo">
					<span :class='todo.todoFinished == "nope" ? "" : "middleLine"'>{{todo.todoText}}</span>
					<span v-if='todo.todoFinished == "nope"' @click='editTodo' class="floatRight"><i class="fas fa-edit"></i></span>
					<span v-if='todo.todoFinished == "nope"' @click='checkTodo(todo)' class="floatRight"><i class="fas fa-check"></i></span>
					<span @click='removeTodo' class="floatRight"><i class="fas fa-trash"></i></span>
				</li>
			</ul>
			<input v-on:keyup.enter="newTodo" v-model="newTextTodo" type="text">
		</div>


		
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./assets/js/main.js"></script>
	
</body>
</html>